div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h2, h3, h5 { border:0; margin:0; padding:0; list-style-type:none; text-decoration:none}
body{ background:#e9f2f5; margin:0; font-family:Arial,"SimSun";}
button,input[type=button] {border: 0}


